---
// page Data
const { pageContent, sectionId } = Astro.props;
---

<section id={sectionId}>
  <div class="wrapper">
    <h2>Full width review met fullbleed achtergrond foto</h2>
  </div>
</section>
