---
// Components
import FiveStars from "../../components/global/fiveStars.astro";
import CustomerAvatar from "../../components/global/customerAvatar.astro";
// page Data
const { sectionContent, sectionId } = Astro.props;
---

<section id={sectionId}>
  <div class="wrapper single-review">
    <FiveStars />
    <h2>"{sectionContent.quote}"</h2>
    <CustomerAvatar componentContent={sectionContent} />

  </div>
</section>

<style>
  .single-review {
    background-color: var(--clr-warm-sand);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--size-2);
    padding-block: var(--size-10);
    padding-inline: var(--size-5);
    text-align: center;


  }
</style>
