@font-face {
  font-display: swap;
  font-family: "Bellefair", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/Bellefair-Regular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Bellefair", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Lato", serif;
  font-optical-sizing: auto;
  font-style: bold;
  font-weight: 900;
  src: url("/assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/PlayfairDisplay-VariableFont_wght.ttf")
    format("truetype");
}

:root {
  /* Border Radius */
  --border-radius-btn: 500vw;
  --border-radius-card: 8px;
  --border-radius-full: 100%;
  --border-radius-img: 8px;
  --border-radius-input-field: 4px;

  /* Box shadows */
  --box-shadow-gold: 0px 2px 15px 0px hsl(36, 59%, 58%, 40%);
  --box-shadow-light: 0px 2px 15px 0px hsl(224, 75%, 11%, 20%);
  --box-shadow: 0px 2px 15px 0px hsl(224, 75%, 11%, 40%);

  /* Colors */
  --clr-light-gray: hsl(220, 13%, 91%);
  --clr-dark-gray: hsl(0, 0%, 29%);
  --clr-darker-gray: hsl(0, 0%, 15%);
  --clr-gold: hsl(36, 46%, 69%);
  --clr-gold-dark: hsl(36, 96%, 41%);
  --clr-green-blue: hsl(168, 12%, 51%);
  --clr-warm-sand-transparend: hsla(40, 36%, 95%, 0.8);
  --clr-warm-sand: hsl(40, 36%, 95%);
  --clr-off-white: hsl(40, 24%, 98%);
  --clr-white: hsl(0, 0%, 100%);

  --clr-alert-green-900: hsl(106, 91%, 25%);
  --clr-alert-yellow-900: hsl(46, 100%, 51%);
  --clr-alert-red-900: hsl(0, 100%, 33%);
  --clr-cta-green-900: hsl(120, 54%, 55%);

  /* Fonts Family */
  --ff-body: "Lato", sans-serif;
  --ff-header: "Playfair", serif;
  --ff-logo: "Bellefair", serif;

  /* Font sizes */
  --fs-200: 1.2rem;
  --fs-300: 1.4rem;
  --fs-400: 1.6rem;
  --fs-500: 2rem;
  --fs-600: 2.4rem;
  --fs-700: 3.2rem;
  --fs-800: 4rem;
  --fs-900: 5.2rem;

  --fs-body: var(--fs-400);

  /* Font Weights */

  --fw-bold: 900;
  --fw-italic-semi-bold: 700 italic;
  --fw-italic: italic;
  --fw-light-bold: 600;
  --fw-regular: 400;
  --fw-semi-bold: 700;

  /* Line Height */
  --lh-200: 125%;
  --lh-300: 150%;
  --lh-400: 175%;

  /* Sizes */
  --size-1: 1.6rem;
  --size-2: 2.4rem;
  --size-3: 3.2rem;
  --size-4: 4rem;
  --size-5: 4.8rem;
  --size-6: 5.6rem;
  --size-7: 6.4rem;
  --size-8: 7.2rem;
  --size-9: 8rem;
  --size-10: 8.8rem;
  --size-15: 15rem;
  --size-16: 25rem;

  /* Padding and Margin */
   --padding-card: var(--size-3);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;

  &::selection {
    background-color: var(--clr-green-blue);
    color: var(--clr-warm-sand)
  }
}

body {
  background-color: var(--clr-off-white);
  color: var(--clr-dark-gray);
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  line-height: 1.6;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  line-height: 1.4;
  font-family: var(--ff-header);
}

h2,
h3,
h4,
h5,
h6 {
  font-size: var(--fs-800);
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

p:not(:last-child) {
  margin-block-end: var(--size-1);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  background-repeat: no-repeat;
  background-size: cover;
  font-style: italic;
  height: auto;
  max-width: 100%;
  shape-margin: 1.6rem;
  vertical-align: middle;
}

[role="list"] {
  list-style: none;
}

section {
  padding-block: var(--size-15);
}
