---
// Props
const { cardStyle = "", cardId = "" } = Astro.props;
---

<div class=`card ${cardStyle}` id={cardId}>
  <slot />
</div>

<style>
  .card {
    align-items: center;
    border-radius: var(--border-radius-card);
    box-shadow: var(--box-shadow-light);
    padding: var(--padding-card);
  }

  .features-with-review {
    align-items: flex-start;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
    justify-content: space-between;
    transition: all 0.4s ease-in-out;

    .card-title-wrapper {
      display: flex;
      gap: var(--size-1);

      h3 {
        font-size: var(--fs-600);
        line-height: 1.5;
      }
      img {
        border-radius: var(--border-radius-full);
        padding: 1rem;
        height: 50px;
        width: 50px;
      }
      img.gold-icon {
        background-color: var(--clr-gold);
      }
    }

    .review {
      background-color: var(--clr-warm-sand);
      border-radius: var(--border-radius-card);
      padding: var(--size-1);
      flex-grow: 1;
      display: grid;
      width: 100%;

      span {
        margin-block-start: auto;
      }
    }

    &:hover,
    &:focus {
      transform: scale(1.05);
      box-shadow: var(--box-shadow-gold);
    }
  }

  .usp-card {
    background-color: var(--clr-warm-sand);
    display: flex;
    flex-direction: column;
    gap: var(--size-1);
    text-align: center;
    transition: all 0.4s ease-in-out;

    img {
      border-radius: var(--border-radius-full);
      padding: 1rem;
      height: 50px;
      width: 50px;
    }

    img.grey-icon {
      background-color: var(--clr-light-gray);
    }

    img.green-icon {
      background-color: var(--clr-green-blue);
    }
    img.gold-icon {
      background-color: var(--clr-gold);
    }

    div {
      display: flex;
      flex-direction: column;
      gap: var(--size-1);
      height: 100%;
      justify-content: space-between;
    }
    h3 {
      font-size: var(--fs-500);
    }

    &:hover,
    &:focus {
      transform: scale(1.05);
      box-shadow: var(--box-shadow);
    }
  }

  .practical-info-card {
    background-color: var(--clr-white);

    h3 {
      font-size: var(--fs-600);
      margin-block-end: var(--size-2);
    }

    h4 {
      font-size: var(--fs-500);
    }

    ul {
      margin-inline-end: auto;
    }

    .flex {
      display: flex;
      gap: var(--size-1);

      div {
        display: block;
        text-align: left;

        h4 {
          margin-block-end: 0.5em;
        }

        span {
          display: block;
        }

        .semi-bold {
          font-weight: var(--fw-light-bold);
        }
      }
    }

    li:not(:last-child) {
      margin-block-end: var(--size-2);
    }
  }

  #card-1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  #card-2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  #card-3 {
    background-color: var(--clr-white);
    grid-area: 2 / 1 / 3 / 3;
    height: fit-content;

    h3 {
      text-align: center;
    }

    ul {
      display: flex;
      justify-content: space-between;
      width: 100%;

      li {
        text-align: center;

        h4 {
          margin-block-start: var(--size-2);
         line-height: 1.5;
        }
      }
    }
  }

  .image-card {
    height: 30rem;
    overflow: hidden;
    position: relative;
    z-index: 2;

    img {
      height: 100%;
      inset: 0;
      object-fit: cover;
      object-position: center;
      position: absolute;
      z-index: 0;
    }
    h3 {
      border-radius: var(--border-radius-btn);
      color: var(--clr-warm-sand);
      font-size: var(--fs-500);
      inset-block-end: 10%;
      padding: 0.5rem;
      position: absolute;
      transition: all 0.4s ease-in-out;
      z-index: 2;
    }

    &::before {
      background-color: hsl(0, 0%, 15%, 55%);
      content: "";
      inset: 0;
      position: absolute;
      transition: all 0.4s ease-in-out;
      z-index: 1;
    }

    &:hover {
      h3 {
        background-color: hsl(0, 0%, 15%, 55%);
      }

      &::before {
        background-color: hsl(0, 0%, 15%, 0%);
      }
    }
  }

  .testemonial-card {
    background-color: var(--clr-warm-sand);
    display: flex;
    gap: var(--size-2);
    width: fit-content;
  }
</style>
