---
// Page Data
const { iconStyle = "green-icon" } = Astro.props;
---

<div class={`icon ${iconStyle}`}>
  <slot />
</div>

<style>
  .icon {
    align-items: center;
    border-radius: var(--border-radius-full);
    display: grid;
    height: 5rem;
    justify-content: center;
    padding: 0.75em;
    width: 5rem;
  }

  .green-icon {
    background-color: var(--clr-green-blue);
  }

  .gold-icon {
    background-color: var(--clr-gold);
  }

  .grey-icon {
    background-color: var(--clr-light-gray);
  }

  .gradient-gold-green {
    background-image: linear-gradient(var(--clr-gold), var(--clr-green-blue));
  }
  .gradient-gold-green-90 {
    background-image: linear-gradient(90deg, var(--clr-gold), var(--clr-green-blue));
  }
  .gradient-gold-green-180 {
    background-image: linear-gradient(180deg, var(--clr-gold), var(--clr-green-blue));
  }
  .gradient-gold-green-270 {
    background-image: linear-gradient(270deg, var(--clr-gold), var(--clr-green-blue));
  }

  .white-square {
    background-color: var(--clr-off-white);
    border-radius: var(--border-radius-card);
    box-shadow: var(--box-shadow-light);
    height: 7.5rem;
    width: 7.5rem;
  }
</style>
