---
// React Icons
import { BurgerMenu, CloseIcon } from "../../assets/icons.jsx";
// Components
import Button from "./buttons.astro";
---

<nav>
  <div class="wrapper nav-bar">
    <a href="/" id="logo">Schermer Eylandt</a>
    <ul role="list">
      <li><a href="/">Home</a></li>
      <li><a href="/accommodatie">Het verblijf</a></li>
      <li><a href="/omgeving">Omgeving</a></li>
      <li><a href="/over-ons">Over ons</a></li>
    </ul>

    <div class="buttons-nav">
      <select name="lang" id="lang">
        <option value="Dutch">NL</option>
        <option value="English">EN</option>
        <option value="German">GE</option>
        <option value="French">FR</option>
      </select>
      <span class="custom-arrow"></span>

      <Button href="/contact" buttonStyle="primary">Contact</Button>
    </div>
  </div>
</nav>

<style>
  nav {
    background-color: var(--clr-warm-sand-navbar);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-block: var(--size-1);
    position: fixed;
    top: 0;
    inset-inline: 0;
    transition: background-color 0.3s ease;
    z-index: 1000;

    .nav-bar {
      align-items: center;
      display: flex;
      justify-content: space-between;

      #logo {
        font-size: var(--fs-700);
        font-weight: var(--fw-neutral);
        font-family: var(--ff-logo);
        text-decoration: none;
        color: var(--clr-dark-gray);
      }

      ul,
      .buttons-nav {
        display: flex;
        gap: var(--size-1);
      }

      ul > li > a {
        color: inherit;
        font-size: var(--fs-500);
        text-decoration: none;
        padding-block: var(--size-1);

        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus {
          color: var(--clr-darker-gray);
          border-bottom: 2px solid var(--clr-darker-gray);
        }
      }

      .buttons-nav {
        display: flex;
        align-self: center;
        justify-content: center;

        select {
          background-color: transparent;
          border: 0;
          cursor: pointer;
          height: fit-content;
          margin-block: auto;
          outline: 0;
          padding-block: 0.5rem;

          &:focus {
            border: 1px solid var(--clr-dark-gray);
            outline: 1;
          }
        }
      }
    }
  }

  nav.scrolled {
    background-color: var(--clr-warm-sand); /* donkere solid achtergrond */
  }
</style>

<script>
  const nav = document.querySelector("nav");

  window.addEventListener("scroll", () => {
    if (window.scrollY > 50) {
      nav?.classList.add("scrolled");
    } else {
      nav?.classList.remove("scrolled");
    }
  });
</script>
