---
// React Icons
import { BurgerMenu, CloseIcon } from "../../assets/icons.jsx";
// Components
import Button from "./buttons.astro";
---

<nav>
  <div class="wrapper nav-bar">
    <a href="/" id="logo">Schermer Eylandt</a>
    <ul role="list">
      <li><a href="/">Home</a></li>
      <li><a href="/accomadatie">Het verblijf</a></li>
      <li><a href="/omgeving">Omgeving</a></li>
      <li><a href="/over-ons">Over ons</a></li>
    </ul>

    <div class="buttons-nav">

        <select name="lang" id="lang">
          <option value="Dutch">NL</option>
          <option value="English">EN</option>
          <option value="German">GE</option>
          <option value="French">FR</option>
        </select>
        <span class="custom-arrow"></span>
 
      <Button href="/contact" buttonStyle="primary">Contact</Button>
    </div>
  </div>
</nav>

<style>
  nav {
    background-color: var(--clr-warm-sand-transparend);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-block: var(--size-1);
    position: fixed;
    top: 0;
    inset-inline: 0;
    z-index: 1000;

    .nav-bar {
      align-items: center;
      display: flex;
      justify-content: space-between;

      #logo {
        font-size: var(--fs-800);
        font-weight: var(--fw-bold);
        font-family: var(--ff-logo);
        text-decoration: none;
        color: var(--clr-dark-gray);
      }

      ul,
      .buttons-nav {
        display: flex;
        gap: var(--size-1);
      }

      ul > li > a {
        color: inherit;
        font-size: var(--fs-500);
        text-decoration: none;
        padding-block: var(--size-1);

        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus {
          color: var(--clr-darker-gray);
          border-bottom: 2px solid var(--clr-darker-gray);
        }
      }

      .buttons-nav {
        display: flex;
        align-self: center;
        justify-content: center;
       
        select {
          background-color: transparent;
          cursor: pointer;
          border: 0;
          padding-inline: var(--size-1) var(--size-2);
          padding-block: 0.5rem;
          height: fit-content;
          margin-block: auto;
  
          &:focus,
          &:active {
            border: 0;
          }
        }
      }
    }
  }
</style>
